body {
  -moz-background-clip: content-box;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

img {
  width: 500px;
  height: 350px;
  margin: 15px;
}

button {
  color: black;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
}

h1 {
  font-size: 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(145, 77, 77);
  bottom: auto;
  margin: 100px;
}

h2 {
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(145, 77, 77);
  bottom: auto;
  margin: 100px;
}
