body {
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 500px;
  height: 300px;
  margin: 75px;
}

button {
  color: black;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #3b3c46;
  border-top-color: grey;
  border-top-width: 10px;
  border-right-color: grey;
  border-right-width: 10px;
}

h1 {
  font-size: 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(145, 77, 77);
  bottom: auto;
  margin: 50px;
}

h2 {
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(145, 77, 77);
  bottom: auto;
  margin: 50px;
}
